#slideshow {
    position: relative;
    width: 600px; 
    height: 400px;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
  }
  
  .slide:first-child {
    display: block;
  }
  